<%- include("partials/header.ejs") %>

<% if(locals.mood){ %>

  <h1 class="head"> Stats of your today's mood</h1>

  <img src=<%= photo %>> 

  <h2>Today's Mood&emsp;:&emsp;<%= locals.mood %></h2>
  <div class="container">
  <div class="box">
    <h2 class="content"><u>Poetry for you:</u> </h2>
    <h2><%= locals.poem %></h2>
  </div>

  <div class="box">
    <h2>
      <u>Here are top 3 songs for you:</u><br>
      <%= son[0].name %> <a href="<%= son[0].link %>" target="_blank">link</a><br>
      <%= son[1].name %> <a href="<%= son[1].link %>" target="_blank">link</a><br>
      <%= son[2].name %> <a href="<%= son[2].link %>" target="_blank">link</a>
    </h2>
  </div>
</div>
 
<% }else if(locals.error){ %>
  <h1 class="head">Take Attendance</h1>
  <h2><%= locals.error %></h2>
  <h3>Failed to make request (Error 404)</h3>
<% } else { %>
    <h1 class="head">Take Attendance</h1>
    <% } %> 

    
    

<form action="/submit" method="POST">
  <input type="submit" value="Click">
</form>

<%- include("partials/footer.ejs") %>